.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo{
    display: flex;
    
    cursor: pointer;
}

.logotext{
    color: rosybrown;
    font-weight: bold;
}

.navlinks{
    display: flex;
}

.navlinks ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks ul li{
    list-style: none;
    margin-left: 2rem;
    color: darkslategray;
    cursor: pointer;
}